<h1>List of all todos</h1>

<div ng-controller="ListController as lc">
    <div create-todo></div>

    <h2 class="ui header">List of todos</h2>
    <div class="ui fluid form">Search:
        <input class="inline field"
               name="titlesearch"
               type="text"
               ng-model="lc.filters.title"
               ng-model-options="{ debounce: 500 }"
               placeholder="Search by title" />
        Filter by status:
        <select-status status="lc.filters.status" allow-select-blank="true" />
    </div>

    <ul>
        <li ng-repeat="todo in lc.todos | orderBy:'-modificationDate' | filter:{status: lc.filters.status, title: lc.filters.title} track by $index"
            ng-class="{strikethrough: todo.status === 'done'}">
            <span>{{ todo.title }}</span> <span edit-todo view-action="lc.view(todo.id)" edit-action="lc.edit(todo.id)" delete-action="lc.delete(todo.id)"></span>
            <div todo="todo"
                 ng-if="lc.editing === todo.id">
            </div>
        </li>
    </ul>
</div>
