<form class="ui fluid form"
      name="todoForm"
      ng-submit="saveTodo(todoForm.$valid)"
      novalidate>
    <div class="inline field">
        <div class="ui right pointing label">
            Title
        </div>
        <input name="title"
               type="text"
               ng-model="todo.title"
               ng-required="true" />
        <select-status status="todo.status"/>
    </div>
    <div class="field">
        <p ng-show="todoForm.title.$invalid">A title is required.</p>
        <label>Description</label>
        <textarea name="description" rows="2" ng-model="todo.description"></textarea>
    </div>
    <button class="ui primary button"
            type="submit"
            ng-disabled="todoForm.$invalid">Save</button>
</form>

<p ng-show="correctlySaved">Todo correctly saved</p>
